/* Desktop Home */

/* Desktop Folder */

/* Desktop Todo */

/* Desktop Edit Todo */

/* Tablet */
@media only screen and (max-width: 56em) {
  /* Desktop Home */

  /* Desktop Folder */

  /* Desktop Todo */

  /* Desktop Edit Todo */
}

/* Mobile */
@media only screen and (max-width: 38em) {
  body {
    /* removable */
    background-color: antiquewhite;
  }
  #content {
    padding: 1rem;
  }
  /* Desktop Home */
  #home-title-div {
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  #todo-form-home {
    height: 36vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  #todo-title-home-label,
  #todo-duedate-home-label,
  #todo-priority-home-label,
  #todo-description-home-label,
  #todo-folder-home-label {
    display: none;
  }
  #todo-title-home,
  #todo-duedate-home,
  #todo-priority-home,
  #todo-description-home,
  #todo-folder-home {
    text-align: center;
    font-size: 1.2rem;
  }
  #todo-title-home {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #todo-duedate-home {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #todo-priority-home {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #todo-description-home {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #todo-folder-home {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #todo-add-home-btn {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 1.2rem;
  }
  #list-home {
    margin-bottom: 9vh;
  }
  #list-home > div {
    height: 9vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid rgb(162, 162, 162);
  }
  #list-home > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #list-home > div > * {
    font-size: 1.2rem;
  }
  #folder-div-home {
    height: 9vh;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    position: fixed;
    bottom: 0;
    overflow: hidden;
  }
  #folder-div-home > * {
    font-size: 1.2rem;
  }
  #folder-title-home-label {
    display: none;
  }
  #folder-title-home {
    text-align: center;
  }

  /* Desktop Folder */
  #folder-title-div {
    height: 9vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
  }
  #folder-title-div > #folder-back-btn {
    font-size: 1rem;
  }
  #folder-title-div > #folder-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  #todo-form-folder {
    height: 36vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  #todo-title-folder-label,
  #todo-duedate-folder-label,
  #todo-priority-folder-label,
  #todo-description-folder-label {
    display: none;
  }
  #todo-title-folder,
  #todo-duedate-folder,
  #todo-priority-folder,
  #todo-description-folder {
    text-align: center;
    font-size: 1.2rem;
  }
  #todo-title-folder {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #todo-duedate-folder {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #todo-priority-folder {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #todo-description-folder {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #todo-add-folder-btn {
    grid-column: 1/3;
    grid-row: 4/5;
    font-size: 1.2rem;
  }
  #list-folder > div {
    height: 9vh;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid rgb(162, 162, 162);
  }
  #list-folder > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #list-folder > div > * {
    font-size: 1.2rem;
  }

  /* Desktop Todo */
  #todo-title-div {
    height: 9vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
  }
  #todo-title-div > #toco-back-btn {
    font-size: 1rem;
  }
  #todo-title-div > #todo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  #todo-back-btn {
    font-size: 1rem;
  }
  #todo-info-div {
    height: 18vh;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 1fr;
  }
  #todo-info-div > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  #todo-description {
    height: 27vh;
    font-size: 1.2rem;
    padding: 0.75rem;
  }
  #todo-edit-btn {
    height: 9vh;
    font-size: 1rem;
    width: 100%;
  }

  /* Desktop Edit Todo */
  #todo-edit-page-title-label,
  #todo-edit-page-duedate-label,
  #todo-edit-page-priority-label,
  #todo-edit-page-description-label {
    display: none;
  }
  #todo-edit-title,
  #todo-edit-duedate,
  #todo-edit-priority,
  #todo-edit-description,
  #todo-edit-page-save-btn {
    font-size: 1.2rem;
    border: 1px solid rgb(162, 162, 162);
    display: block;
  }
  #todo-edit-title {
    margin-top: 9vh;
  }
  #todo-edit-title,
  #todo-edit-duedate,
  #todo-edit-priority {
    height: 9vh;
    width: 100vw;
    text-align: center;
    padding: 0;
  }
  #todo-edit-description {
    height: 27vh;
    width: calc(100vw - 1.5rem);
    padding: 0.75rem;
  }
  #todo-edit-page-save-btn {
    height: 9vh;
    width: 100vw;
    padding: 0;
    margin: 0 auto;
  }
}

/* Super small phones */
@media only screen and (max-width: 22em) {
  /* Desktop Home */

  /* Desktop Folder */

  /* Desktop Todo */

  /* Desktop Edit Todo */
}

@media (prefers-color-scheme: dark) {
  /* Desktop Home */

  /* Desktop Folder */

  /* Desktop Todo */

  /* Desktop Edit Todo */
}
